.button {
    Width: 132px;
    height: 30px;
    border-radius: 3px;
}

.disabled {
}

.secondary {
    width: 176px;
    height: 30px;
}

.default {
color: #0066CC;
}

.red {
  color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {

}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
